**/node_modules/
**/.pnp
**/.pnp.js


**/coverage


**/build
**/dist


**/.env
**/.env.local
**/.env.*.local


**/application.properties
**/.history/
**/target/
**/*.class


**/.idea
**/.vscode
**/*.swp
**/*.swo
*~


**/.DS_Store
**/Thumbs.db


**/*.log
**/npm-debug.log*

