.product-detail {
  display: flex;
  gap: 40px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;  
  box-sizing: border-box;
  overflow: hidden;  
}

.product-image {
  flex: 1;
  max-width: 600px;
  display: flex;  
  align-items: center;  
  justify-content: center; 
}

.product-image img {
  width: 100%;
  max-height: 100%;  
  object-fit: contain;  
  border-radius: 0;
}

.product-info {
  flex: 1;
  overflow-y: auto;  
}

.product-info h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  margin: 10px 0;
}

.category {
  color: #7f8c8d;
  margin: 10px 0;
}

.description {
  line-height: 1.6;
  margin: 20px 0;
}

.stock {
  color: black;
  font-weight: 500;
}

.add-to-cart {
  background-color: #f8f9f9;
  color: black;
  padding: 15px 30px;
  border: black 2px solid;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
}

.add-to-cart:hover {
  background-color: #ff5f1f;

}

.back-button {
    background-color: #95a5a6;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #7f8c8d;
}