

.signup-container {
    display:flex;
    flex-direction: column;
    gap:1rem;
    width: 35vw;
    border-style: solid;
    border-width: 3px;
    border-radius: 3px;
    align-items: center;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.signup-button {
    background-color: white;
    color: black;  
    padding: 5px 10px;
    border: 2px solid black;  
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 0.9rem;
    transition: background-color 0.3s;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 10px;
}

.signup-button:hover {
    background-color: black;
    color: white;
}